@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.toast-font {
  font-family: "Prata", serif;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}



.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
    a.active{
        background-color: black;
        color: white;
    }
}


